################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Bqpl.Exceptions/obj/Debug
/.vs
/Bqpl.Exceptions/bin/Debug
